* {
  font-family: 'K2D', 'Kanit';
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
  display: block;
  z-index: auto;
}

.sweet-alert .sa-icon {
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

/* start stars.css */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400); */
.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255, 255, 255, .1);
}

div.title {
  font-size: 2em;
}

h1 span {
  font-weight: 300;
  color: #Fd4;
}

div.stars {
  display: inline-block;
}

div.stars-header {
  padding: 5px;
}

.card-rating {
  border: solid 1px #eaeaea;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}

input.star {
  display: none;
}

label.star {
  float: right;
  /* padding: 0 10px 0 0; */
  padding: 5px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
  margin-bottom: 0px;
}

input.star:checked~label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked~label.star:before {
  color: #FD4;
  /* color:#FE7; */
  /* text-shadow: 0 0 20px #952; */
}

input.star-1:checked~label.star:before {
  color: #F62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.rev-box {
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .25s;
}

textarea.review {
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: #EEE;
}

label.review {
  display: block;
  transition: opacity .25s;
}

input.star:checked~.rev-box {
  height: 125px;
  overflow: visible;
}


/* end stars.css */

/* start modal fullscreen */
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  max-height: 90%;
  border-radius: 0;
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}
/* end modal fullscreen */

.popover {
  z-index: 1051;
}

.table thead tr th {
  text-transform: uppercase;
  font-family: 'K2D';
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  color: rgba(44, 44, 44, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: 'K2D', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #2c2c2c;
}

.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li>a {
  font-family: "K2D", Arial, sans-serif;
}

button {
  font-family: "K2D" !important;
}

#nestable-result {
  max-width: 100% !important;
  border: dotted 1px #aaa;
  background: #efefef;
  padding: 5px;
  height: 500px !important;
  overflow-y: scroll;
}


.container_leave_img {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.leave_img { 
  width: 100%;
  height: auto;
  opacity: 1;
}

.leave_img:hover { 
  opacity: 0.9;
}

.login-wrapper {
  height: 100%;
  background-color: #ffffff !important;
}

.login-wrapper .bg-pic > img {
  width: 50%;
  height: auto;
  opacity: 1;
}

.form-group label:not(.error) {
  font-size: 13px;
}

.daterangepicker.dropdown-menu {
  z-index: 3000 !important;
}

/*--------------- Loader table -----------------*/
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}   
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*------------- multiselect -------------------*/
.multiselect-native-select .form-check .form-check-input{margin-top: 12px;}
.multiselect-native-select .dropdown-menu { 
  width: inherit; 
  box-shadow: 0px 1px 6px rgb(152 147 147 / 57%) !important;
  margin: 7px 2px;
  background:#fff !important;
}
.multiselect-native-select .dropdown-menu > .multiselect-filter{padding: 7px;}
.multiselect-native-select .dropdown-menu > .multiselect-filter > input.multiselect-search {
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.multiselect-native-select .dropdown-menu > .dropdown-item {
  border-radius: 0 !important;
}


.multiselect-container .multiselect-option:hover {
  background-color: #efefefa8 !important;
}
.multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback){
  background-color: #eaf7f9;
  color: #0497ff;
}

#card-basic .card-header {z-index: inherit !important;}


/*------ Dropdown scoll -----*/
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}
.dropdown-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0; 
  box-shadow: inset 0; 
  border-radius: 0;
}
.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow:inset  5px 5px 5px 5px rgb(152 147 147 / 57%); 
  box-shadow:inset  5px 5px 5px 5px rgb(152 147 147 / 57%); 
}
